.one {
  background: #8f3737;
}

.two {
  background: #628638;
}

.three {
  border: 5px solid red;
}

.out-1 {
  background-color: #628638;
}

.bg-2 {
  background-color: #940000;
}

.bg-3 {
  background-color: #940000;
}
.bg-4 {
  background: #940000;
}

.bg-7 {
  background-color: #940000;
}

.bg-8 {
  background-color: #940000;
}

.out-8 {
  background-color: #628638;
}

.bg-9 {
  background-color: #940000;
}

.bg-10 {
  background-color: #940000;
}